<ul class="nav navbar-nav navbar-right">
<span class="navbar-form navbar-left" ng-if="!authenticated">
    <div class="form-group">
      <input type="email" class="form-control" placeholder="Email" ng-model="auth.email">
      <input type="password" class="form-control" placeholder="Password" ng-model="auth.password">
    </div>
    <button ng-click="auth.login()" class="btn btn-default">Log In</button>
</span>
<li ng-if="!authenticated"><a href="#">Register</a></li>
<span class="navbar-form navbar-left" ng-if="authenticated"> Hello, {{currentUser.name}}
	<button ng-click="auth.logout()" class="btn btn-default">Log Out</button>
</span>
</ul>