@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

html, body {
	height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    font-family: 'Arial';
}

.container {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.content {
    text-align: center;
    display: inline-block;
}

.title {
    font-size: 96px;
    font-family: 'Lato';
}

